ConnectionStrings__Postgres=Host=<prod-pg-host>;Port=5432;Username=<prod-user>;Password=<prod-password>;Database=artifortress
Worker__PollSeconds=30
Worker__BatchSize=100
Worker__SearchJobMaxAttempts=5
